<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <%= link_to "MyRecipes", root_path, class: "navbar-brand", id: "logo"%>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item"><%= link_to "Chefs", chefs_path, class: "nav-link" %></li>
        <li class="nav-item">
          <%= link_to "All Recipes", recipes_path, class: "nav-link" %>
        </li>
        <% if logged_in? %>
          <li class="nav-item">
            <%= link_to "New Recipe", new_recipe_path, class: "nav-link" %>
          </li>
        <% end %>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Recipes
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <%= link_to "All Ingredients", ingredients_path, class: "nav-link" %>
        </li>
        <% if logged_in? && current_chef.admin? %>
          <li class="nav-item">
            <%= link_to "New Ingredients", new_ingredient_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
      <% if logged_in? %>
        <span class="nav-item"><%= link_to "Profile", chef_path(current_chef), class: "nav-link" %> <%= "Admin" if current_chef.admin? %></span>
        <span class="nav-item ms-3"><%= link_to "Edit Profile", edit_chef_path(current_chef), class: "nav-link" %></span>
        <span class="nav-item ms-3"><%= link_to "Log out", logout_path, data: { turbo_method: :delete }, class: "nav-link" %></span>
        <%# <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expand="false">
            <%= current_chef.chefname's Profile %>
          <%# </button> %>
          <%# <ul class="dropdown-menu"> %>
            <%# <li>My new dropdown</li> %>
          <%# </ul> %>
        <%# </div> %> 
      <% else %>
        <span class="nav-item"><%= link_to "Log in", login_path, class: "nav-link" %></span>
      <% end %>

    </div>
  </div>
</nav>